/* Header */

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  width: 80%;
  padding: 12px 0;
  margin: 2vw 0 1vw 17vw;
}

.app-header .search:hover {
  opacity: 1;
}

.app-header .search:focus {
  border-color: #a0a4a8;
  box-shadow: 0 0 4px #a0a4a8;
}

.app-header .search:focus::placeholder {
  transition: all 0.3s ease-in-out;
  color: #838383;
}

.search {
  border-radius: 5rem;
  width: 23vw;
  padding: 7px 40px 7px 18px;
  border: none;
  background-color: #e8eaeb;
  font-size: 19px;
  color: #333;
  outline: none;
  transition: all 0.3s linear;
  font-family: Montserrat;
  line-height: 20px;
}

.search::placeholder {
  color: #b1b1b1;
}

.search::-webkit-search-cancel-button {
  display: none;
}

.search-icon {
  position: relative;
  right: 30px;
  background: var(--main-color);
  padding: 5px;
  border-radius: 50%;
  color: var(--white);
  cursor: pointer;
  transition: all 0.3s linear;
}

.search-icon:hover {
  background: var(--white);
  color: var(--main-color);
}

/* Navigation */

.models {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  position: relative;
  left: 7%;
}

.gender img {
  display: flex;
  opacity: 1;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 15px 0;
  box-shadow: 0px 0px 10px 0px var(--box-shadow);
  padding: 8px 15px;
  border-radius: 5px;
  background-color: var(--white);
}

.gender img:hover {
  opacity: 0.6;
}

.model-example {
  box-shadow: 0px 0px 10px 0px var(--box-shadow);
  background: var(--white);
  padding: 5px 35px;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: border 0.1s linear;
}

.model-example:focus {
  transition: border 0.1s linear;
}

.plus {
  border: none;
  background: var(--white);
  cursor: pointer;
  width: 50px;
  height: 88px;
  border-radius: 5px;
  color: #1f1617;
  box-shadow: 0px 0px 10px 0px var(--box-shadow);
}
