.item-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 2.5rem;
  top: 3vw;
  gap: 18px;
}

.items {
  display: flex;
}

.block .cash {
  position: relative;
  left: 70px;
}

span {
  position: relative;
  top: 1vw;
}

.block {
  background: white;
  padding: 8px 8px 25px 8px;
  border-radius: 5px;
}
