@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

body {
  background: #e5e5e5;
  overflow-x: hidden;
  min-height: 100vh;
  max-width: 100vw;
}

section {
  display: flex;
  align-items: center;
}